@import "../../common.scss";

$sidebar-spacing: 20px;
$sidebar-width: 250px;

$sidebar-burger-size: 40px;
$sidebar-burger-margin: 5px;
$sidebar-burger-full: $sidebar-burger-size + ($sidebar-burger-margin * 2);

.sidebar-wrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
}

.sidebar-burger {
    @include neumorphic-small;

    position: fixed;

    width: $sidebar-burger-size;
    height: $sidebar-burger-size;
    border-radius: $radius;

    margin: $sidebar-spacing;

    border: none;

    transition: box-shadow $anim-time, border $anim-time, border-radius $anim-time;
    &.shown {
        box-shadow: none;
        border: 1px solid invert($background);
        border-radius: $radius 0;
    }
}

.sidebar {
    width: 0;
    max-width: calc(100vw);
    height: 100vh;

    transition: width $anim-time;
    &.shown {
        width: $sidebar-width;

        .sidebar-slider {
            transform: translateX(0);
        }
    }

    .sidebar-slider {
        @include neumorphic;
        position: fixed;
        top: $sidebar-spacing;
        bottom: $sidebar-spacing;
        left: $sidebar-spacing;
        width: $sidebar-width;
        max-width: calc(100vw - #{$sidebar-spacing * 2});

        box-sizing: border-box;
        padding: 10px;

        transition: transform $anim-time;
        transform: translateX(calc(-100% - #{$shadow-offset + $shadow-blur}));

        h1 {
            margin-top: $sidebar-burger-size;
        }
    }
}

.sidebar-body {
    position: relative;
    top: $sidebar-burger-size + $sidebar-spacing;
    padding: $sidebar-spacing;
}
