@import "../../common.scss";

.page-title {
    margin-top: 0;
}

.tile-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .tile-item {
        // $h: 50vh;
        $p: 1/1.25;
        // max-width: $h;
        // max-height: $h * $p;
        padding-bottom: 100% * $p;
        position: relative;

        .tile-item-sizer {
            @include neumorphic;

            position: absolute;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        }

        .thumbnail {
            flex: 1;
            min-height: 80%;
            background: darken($background, 1%);
            border-radius: $radius $radius 0 0;

            div {
                width: 100%;
                height: 100%;

                border-radius: $radius $radius 0 0;

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.contain {
                    background-size: contain;
                }
            }
        }

        .details {
            padding: 5px;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;

            .row {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }

        h3 {
            margin: 0;
        }
    }
}
